<div id="toolbar" role="group" class="btn-group">
    <button ng-click="setDefaultView()" type="button"
        class="btn btn-secondary">
        <i class="fa fa-globe"></i>
    </button>
    <button ng-click="setInteraction('DragPan')" ng-class="{active: InteractionsCtrl.isActive('DragPan')}" type="button"
        class="btn btn-secondary tooltip-bottom" data-tooltip="Mover">
        <i class="fa fa-hand-paper-o"></i>
    </button>
    <button ng-click="setInteraction('ZoomIn')" ng-class="{active: InteractionsCtrl.isActive('ZoomIn')}" type="button"
        class="btn btn-secondary tooltip-bottom" data-tooltip="Aproximar">
        <i class="fa fa-search-plus"></i>
    </button>
    <button ng-click="setInteraction('ZoomOut')" ng-class="{active: InteractionsCtrl.isActive('ZoomOut')}" type="button"
        class="btn btn-secondary tooltip-bottom" data-tooltip="Afastar">
        <i class="fa fa-search-minus"></i>
    </button>
    <button ng-click="setInteraction('ZoomBox')" ng-class="{active: InteractionsCtrl.isActive('ZoomBox')}" type="button"
        class="btn btn-secondary tooltip-bottom" data-tooltip="Zoom Caixa">
            <i class="fa fa-search"></i>
    </button>
</div>
<section>
    <div class="bottom-bar">Acção Selecionada: {{currentInteraction}}</div>
</section>