doctype html
html(lang='en' ng-app='gestreeApp')
  head
    title Map Prototype
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(href='fancytree/skin-bootstrap/ui.fancytree.css' rel="stylesheet")
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='ol.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href="stylesheets/style.css")

  body
    nav.navbar.navbar-toggleable-md.fixed-top
        a.navbar-brand(href='#') Plano Director Municipal do Munícipio de Vila Real
        span.navbar-text
    .container-fluid.no-padding.full_height
        .row.no-gutters.full_height
            #menu-container.col-3.full_height(ng-hide="menuIsHidden")
                //- START[*JoKord] 
                ges-tabs
            #map-container.full_height.col-9(ng-class="{'col-12': menuIsHidden}")
                #map.map.full_height
                map-interactions(menu-is-hidden="menuIsHidden")   
    // jQuery first, then Tether, then Bootstrap JS.

    //script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='jquery.js')
    script(src='jquery-ui.js')

    script(src='fancytree/jquery.fancytree-all.js')
    script(src='fancytree/src/jquery.fancytree.dnd.js')
    script(src='fancytree/src/jquery.fancytree.edit.js')
    script(src='fancytree/src/jquery.fancytree.glyph.js')
    script(src='fancytree/src/jquery.fancytree.table.js')
    script(src='fancytree/src/jquery.fancytree.wide.js')
    // START[*JoKord]

    script(src='ol-debug.js')
    script(src="app/lib/proj4.js")
    script(src='app/lib/angular.js')
    
    script(src='app/app.js')
    script(src='app/modules/LegendModule/LegendsModule.js')
    script(src='app/modules/MapInteractionsModule/MapInteractionsModule.js')
    script(src='app/services/map-service.js')
    script(src='app/factories/layers-factory.js')
    script(src='app/directives/tabs-directive.js')


    // END[*JoKOrd]
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    // Initialize the tree when page is loaded
    //script(src='fancytree/test.js')
    //script(src='ol-debug.js')
    //script(src='map_test.js')  
    //script(src='app/sandbox/testeWFS.js')

