doctype html
html(lang='en' ng-app='pdmApp')
  head
    title PDM - Vila Real
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description" content="Plataforma WebSIG para o Plano Director Municipal de Vila Real")
    meta(name="keywords" content="Plano Director Municipal, Vila Real, WebSIG, Gistree")
    meta(name="author" content="Gistree, Sistemas de Informação Geográfica, Floresta e Ambiente, Lda")
    link(rel='stylesheet', href="style/vendor.css")
    link(rel='stylesheet', href="style/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href="style/style.min.css")
    
    link(rel="shortcut icon" href="app/icons/favicon.ico")
    
  body(ng-cloak)
    nav.navbar.navbar-toggleable-md.fixed-top
        a.navbar-brand(href='#')
            img(src="/app/icons/cmvr.png" width="200" height="45")
        div.collapse.navbar-collapse(id="login" ng-controller="LoginController as lgCtrl")
            ul.navbar-nav.ml-auto
                li.nav-item
                    button.btn.btn-login(ng-click="lgCtrl.login()" ng-hide="lgCtrl.isLogged") &nbsp;Log in&nbsp;
                    span(ng-show="lgCtrl.isLogged")
                        span.wellcome Bem-vindo, {{lgCtrl.username}}! 
                        button.btn.btn-login(ng-click="lgCtrl.logout()") &nbsp;Log out&nbsp; 
    .container-fluid.no-padding.full_height
        .row.no-gutters.full_height
            #menu-container.col-3.full_height(ng-hide="menuIsHidden")
                control-panel
            #map-container.full_height.col-9(ng-class="{'col-12': menuIsHidden}")
                #map.map.full_height
                map-interactions(menu-is-hidden="menuIsHidden")   

    script(src="vendor/tether.min.js")
    script(src="vendor/jquery.min.js")
    script(src="vendor/jquery-ui.min.js")
    script(src="vendor/fancytree-build.min.js")
    script(src="vendor/ol.js")
    script(src="vendor/proj4.js")
    script(src="vendor/bootstrap.min.js")
    script(src="vendor/angular.min.js")
    script(src="vendor/angular-sanitize.min.js")
    script(src="vendor/ngDialog.min.js")
    script(src="vendor/select.min.js")

    script(src="app/app-#{version}.js")