doctype html
html(lang='en' ng-app='pdmApp')
  head
    title PDM - Vila Real
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description" content="Plataforma WebSIG para o Plano Director Municipal de Vila Real")
    meta(name="keywords" content="Plano Director Municipal, Vila Real, WebSIG, Gistree")
    meta(name="author" content="Gistree, Sistemas de Informação Geográfica, Floresta e Ambiente, Lda")
    link(rel='stylesheet', href="style/vendor.css")
    link(rel='stylesheet', href="style/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href="style/style.min.css")
    link(rel="shortcut icon" href="app/icons/favicon.ico")
  body
    nav.navbar.navbar-toggleable-md.fixed-top
        a.navbar-brand(href='#')
            img(src="/app/icons/cmvr.png" width="200" height="45")    
    .container-fluid.no-padding.full_height
        .row.no-gutters.full_height
            #menu-container.col-3.full_height(ng-hide="menuIsHidden")
                control-panel
            #map-container.full_height.col-9(ng-class="{'col-12': menuIsHidden}")
                #map.map.full_height
                map-interactions(menu-is-hidden="menuIsHidden")   

    script(src="vendor/tether.min.js")
    script(src="vendor/jquery.min.js")
    script(src="vendor/jquery-ui.min.js")
    script(src="vendor/fancytree-build.min.js")
    script(src="vendor/ol.js")
    script(src="vendor/proj4.js")
    script(src="vendor/bootstrap.min.js")
    script(src="vendor/angular.min.js")
    
    // START[APP]
    script(src='app/app.js')
    script(src='app/modules/LegendModule/LegendsModule.js')
    script(src='app/modules/MapInteractionsModule/MapInteractionsModule.js')
    script(src='app/modules/DrawingModule/DrawingModule.js')
    script(src='app/modules/PrintingModule/PrintingModule.js')
    script(src='app/modules/PrintingModule/services/PrintDetailsService.js')
    script(src='app/services/map-service.js')
    script(src='app/factories/layers-factory.js')
    script(src='app/directives/controlPanel-directive.js')
    // END[APP]