doctype html
html(lang='en' ng-app='pdmApp')
  head
    title PDM - Vila Real
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href="stylesheets/ui.fancytree.min.css")
    link(rel='stylesheet', href="stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href="stylesheets/ol.css")
    link(rel='stylesheet', href="stylesheets/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href="stylesheets/style.min.css")
  body
    nav.navbar.navbar-toggleable-md.fixed-top
        a.navbar-brand(href='#')
            img(src="/app/icons/cmvr.png" width="200" height="45")    
    .container-fluid.no-padding.full_height
        .row.no-gutters.full_height
            #menu-container.col-3.full_height(ng-hide="menuIsHidden")
                control-panel
            #map-container.full_height.col-9(ng-class="{'col-12': menuIsHidden}")
                #map.map.full_height
                map-interactions(menu-is-hidden="menuIsHidden")   
    
    // START[JQUERY]
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/jquery/jquery-ui.min.js')
    // END[JQUERY]
    // START[FANCYTREE]
    script(src='vendor/fancytree/jquery.fancytree.min.js')
    script(src='vendor/fancytree/jquery.fancytree.edit.js')
    script(src='vendor/fancytree/jquery.fancytree.glyph.js')
    script(src='vendor/fancytree/jquery.fancytree.wide.js')
    // END[FANCYTREE]
    // START[OPENLAYERS]
    script(src='vendor/ol/ol.js')
    script(src="vendor/ol/proj4.js")
    // END[OPENLAYERS]
    // START[APP]
    script(src='app/lib/angular.min.js')
    script(src='app/app.js')
    script(src='app/modules/LegendModule/LegendsModule.js')
    script(src='app/modules/MapInteractionsModule/MapInteractionsModule.js')
    script(src='app/modules/DrawingModule/DrawingModule.js')
    script(src='app/modules/PrintingModule/PrintingModule.js')
    script(src='app/modules/PrintingModule/services/PrintDetailsService.js')
    script(src='app/services/map-service.js')
    script(src='app/factories/layers-factory.js')
    script(src='app/directives/controlPanel-directive.js')
    // END[APP]
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')