doctype html
html(lang='en' ng-app)
  head
    title Map Prototype
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(href='fancytree/skin-bootstrap/ui.fancytree.css' rel="stylesheet")
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href="stylesheets/style.css")
    link(rel='stylesheet', href='stylesheets/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='ol.css', type='text/css')

  body.bg-primary
    #index-container.container-fluid.bg-inverse.h-100
        #top-row.row.h-15
                nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-md.navbar-default.top
                    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    a.navbar-brand(href='#') PDM
                    #navbarSupportedContent.collapse.navbar-collapse 
                        ul.nav.navbar-nav
                            .container
                                ul.nav.nav-tabs(role='tablist')
                                    li.nav-item
                                        a.nav-link.active(data-toggle='tab', href='#ferramentas', role='tab') Ferramentas
                                    li.nav-item
                                        a.nav-link(data-toggle='tab', href='#pesquisar', role='tab') Pesquisar
                                    li.nav-item
                                        a.nav-link(data-toggle='tab', href='#imprimir', role='tab') Imprimir
                                    li.nav-item
                                        a.nav-link(data-toggle='tab', href='#ajuda', role='tab') Ajuda
                                .tab-content.btn-group.active(role="group")
                                    #ferramentas.tab-pane.active(role='tabpanel')
                                        button.btn.btn-primary.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Obter
                                        button.btn.btn-primary.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Obter
                                        button.btn.btn-primary.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Obter
                                        button.btn.btn-primary.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Obter
                                        button.btn.btn-primary.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Obter
                                        button.btn.btn-primary.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Obter
                                    #pesquisar.tab-pane(role='tabpanel')
                                        button.btn.btn-success.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Pesquisar
                                        button.btn.btn-success.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Pesquisar
                                        button.btn.btn-success.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Pesquisar
                                        button.btn.btn-success.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Pesquisar
                                        button.btn.btn-success.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Pesquisar
                                        button.btn.btn-success.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Pesquisar
                                    #imprimir.tab-pane(role='tabpanel')
                                        button.btn.btn-danger.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Imprimir
                                        button.btn.btn-danger.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Imprimir
                                        button.btn.btn-danger.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Imprimir
                                        button.btn.btn-danger.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Imprimir
                                        button.btn.btn-danger.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Imprimir
                                        button.btn.btn-danger.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Imprimir
                                    #ajuda.tab-pane(role='tabpanel')
                                        button.btn.btn-warning.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Ajuda
                                        button.btn.btn-warning.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Ajuda
                                        button.btn.btn-warning.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Ajuda
                                        button.btn.btn-warning.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Ajuda
                                        button.btn.btn-warning.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Ajuda
                                        button.btn.btn-warning.btn-custom-1(type='button', title='Obter Coordenadas no mapa')
                                            p Ajuda
        #bottom-row.row.h-85
            #leftmenu-col.container-fluid.col-2.bg-faded
                ul.panel
                    ul.nav.nav-tabs(role='tablist')
                        li.nav-item
                            a.nav-link.active(data-toggle='tab', href='#layers', role='tab') Layers
                        li.nav-item
                            a.nav-link(data-toggle='tab', href='#legenda', role='tab') Legenda
                        li.nav-item
                            a.nav-link(data-toggle='tab', href='#opcoes', role='tab') Opções
                    .tab-content.btn-group.active(role="group")
                        #layers.tab-pane.active(role='tabpanel')
                            #tree.panel-body.fancytree-plain.fancytree-colorize-selected.fancytree-fade-expander
                            .panel-footer
                                button#btnExpandAll.btn.btn-sm.btn-primary Expand all
                                button#btnCollapseAll.btn.btn-sm.btn-warning Collapse all
                                button#btnDeselectAll.btn.btn-sm.btn-danger Deselect all
                        #legenda.tab-pane(role='tabpanel')
                        #opcoes.tab-pane(role='tabpanel')
                                    
                    
            #map-col.container.col-10.bg-faded.text-center
                #map.map

    // jQuery first, then Tether, then Bootstrap JS.
    //script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='jquery.js')
    script(src='jquery-ui.js')
    script(src='fancytree/jquery.fancytree-all.js')
    script(src='fancytree/src/jquery.fancytree.dnd.js')
    script(src='fancytree/src/jquery.fancytree.edit.js')
    script(src='fancytree/src/jquery.fancytree.glyph.js')
    script(src='fancytree/src/jquery.fancytree.table.js')
    script(src='fancytree/src/jquery.fancytree.wide.js')
    // START[*JoKord]
    script(src='app/lib/angular.js')
    script(src='app/app.js')
    // END[*JoKOrd]
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    script(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Initialize the tree when page is loaded
    script(src='fancytree/test.js')
    script(src='ol-debug.js')
    script(src='map_test.js')
    
        
