html,
body {
    padding-top: 2rem;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

a {
    color: #00B7FF;
}

.h-10 {
    height: 10%;
}

.h-90 {
    height: 90%;
}

.h-15 {
    height: 15%;
}

.h-85 {
    height: 85%;
}

.h-50 {
    height: 50%;
}

.nav {
    padding-left: 0;
}

.navbar {
    padding: 1.5rem;
}

ul.fancytree-container {
    border: 0;
    background-color: #f7f7f7;
}

#leftmenu-col {
    overflow: auto;
}

#map-col {
    padding: 0;
}

.map {
    height: 100%;
    width: 100%;
    background-color: #b5d0d0;
}

.panel-footer {
    align-content: center;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-size {
    font-size: 14px;
    width: 150px;
    margin-left: 2px;
    margin-right: 2px;
}

.navbar-inverse .navbar-nav .nav-link.active {
    color: #464a4c;
    background: #ddd;
    border-color: #ddd;
}

.nav-tabs {
    border-bottom: 4px solid #464a4c;
    margin-bottom: 1px;
}

.btn-custom-1 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-right: 3px;
    color: #464a4c;
    border: 0;
    background: #ddd;
}