<div class="panel">
    {{hidden}}
    <div class="tabbable-line">
        <ul id="lefttopmenutabs" role="tablist" class="nav nav-tabs">
            <a data-toggle="tab" href="#layers" role="tab" class="nav-item nav-link active">Camadas</a>
            <a data-toggle="tab" href="#legenda" role="tab" class="nav-item nav-link">Legenda</a>
            <button type="button" ng-click="tc.hideMenu()" class="btn btn-secondary btn-circle btn-hide tooltip-bottom" data-tooltip="Esconder">
                <i class="fa fa-arrow-left"></i>
            </button>
        </ul>
        <div id="tabcontent" class="tab-content">
            <div id="layers" role="tabpanel" class="tab-pane active">
                <div id="tree" class="panel-body fancytree-plain fancytree-colorize-selected fancytree-fade-expander"> </div>
                <div class="bottom-tree-commands">
                    <button data-tooltip="Expandir" ng-click="tc.expandTree()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-expand"></i>
                    </button>
                    <button data-tooltip="Colapsar" ng-click="tc.collapseTree()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-compress"></i>
                    </button>
                    <button data-tooltip="Limpar" ng-click="tc.deselectAll()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-minus-square"></i>
                    </button>
                    <button data-tooltip="Ajuda" ng-click="tc.help()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-question"></i>
                    </button>
                </div>
            </div>
            <div id="legenda" role="tabpanel" class="tab-pane" ng-controller="LegendsController as lgsCtrl">
                <ul class="list-group legends-list" ng-repeat="group in groups">
                    <b>{{group.title}}</b>
                    <li class="list-group-item legends-item" ng-repeat="layer in group.children">
                        <img ng-src="http://gistree.espigueiro.pt/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.1.1&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER={{layer.data.workspace}}:{{layer.data.name}}">
                        <span>&nbsp; - &nbsp;{{layer.title}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="opcoes" role="tabpanel" class="tab-pane"> </div>
    </div>
</div>