<div class="panel">
    <div class="tabbable-line">
        <ul id="lefttopmenutabs" role="tablist" class="nav nav-tabs">
            <a data-toggle="tab" href="#layers" role="tab" class="nav-item nav-link ">Camadas</a>
            <a data-toggle="tab" href="#legenda" role="tab" class="nav-item nav-link">Legenda</a>
            <a data-toggle="tab" href="#imprimir" role="tab" class="nav-item nav-link active">Imprimir</a>
            <button type="button" ng-click="tc.hideMenu()" class="btn btn-secondary btn-circle btn-hide tooltip-bottom" data-tooltip="Esconder">
                <i class="fa fa-arrow-left"></i>
            </button>
        </ul>
        <div id="tabcontent" class="tab-content">
            <div id="layers" role="tabpanel" class="tab-pane ">
                <div id="tree" class="panel-body fancytree-plain fancytree-colorize-selected fancytree-fade-expander"></div>
                <div class="bottom-tree-commands">
                    <button data-tooltip="Expandir" ng-click="tc.expandTree()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-expand"></i>
                    </button>
                    <button data-tooltip="Colapsar" ng-click="tc.collapseTree()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-compress"></i>
                    </button>
                    <button data-tooltip="Limpar" ng-click="tc.deselectAll()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-minus-square"></i>
                    </button>
                    <button data-tooltip="Ajuda" ng-click="tc.help()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-question"></i>
                    </button>
                    <a ng-click="tc.print()" target="_blank" class="btn btn-secondary btn-circle" ng-href="http://gistree.espigueiro.pt/geoserver/pdf/print.pdf?spec={{printSpec}}">
                        <i class="fa fa-print"></i>
                    </a>
                </div>
            </div>
            <div id="legenda" role="tabpanel" class="tab-pane" ng-controller="LegendsController as lgsCtrl">
                <ul class="list-group legends-list" ng-repeat="group in groups">
                    <b>{{group.title}}</b>
                    <li class="list-group-item legends-item" ng-repeat="legend in group.data">
                        <img ng-src="http://gistree.espigueiro.pt/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.1.1&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER={{legend.workspace}}:{{legend.name}}">
                        <span>&nbsp; - &nbsp;{{legend.title}}</span>
                    </li>
                </ul>
            </div>
            <div id="imprimir" role="tabpanel" class="tab-pane active" ng-controller="PagesController as pagesCtrl">
                <h5>Impressão de Plantas</h5>
                <section ng-show="pagesCtrl.activeTab(1)">
                    <h6>Desenhar</h6>
                    <section ng-controller="DrawingController as drawCtrl">
                        <hr style="margin: 0.5em">
                        <div class="subtitle">Defina no mapa a área da pretensão.</div>
                        <div class="draw-info">{{drawCtrl.info}}</div>
                        <hr style="margin: 0.5em">
                        <div class="drawing-commands">
                            <button data-tooltip="Ponto" class="btn btn-secondary btn-circle icon point tooltip-bottom" ng-click="drawCtrl.setDrawingMode('Point')"></button>
                            <button data-tooltip="Linha" class="btn btn-secondary btn-circle icon line tooltip-bottom" ng-click="drawCtrl.setDrawingMode('LineString')"></button>
                            <button data-tooltip="Polígono" class="btn btn-secondary btn-circle icon polygon tooltip-bottom" ng-click="drawCtrl.setDrawingMode('Polygon')"></button>
                            <button data-tooltip="Limpar Desenhos" class="btn btn-secondary btn-circle icon remove tooltip-bottom" ng-click="drawCtrl.clearDraw()"></button>
                        </div>
                    </section>
                    <div class="nav-buttons">
                        <button ng-click="pagesCtrl.nextPage(true)" class="btn btn-secondary clearfix">Seguinte</button>
                    </div>
                </section>
                <section ng-show="pagesCtrl.activeTab(2)" ng-controller="FormController as formCtrl">
                    <h6>Dados da Requisição</h6>
                    <hr style="margin: 0.5em">
                    <form name="form" class="my-form" novalidate>
                        <div class="row form-line">
                            <label class="col-4" for="requerente">Requerente:</label>
                            <input type="text" class="col-7" id="requerente" ng-model="formCtrl.userData.requerente" placeholder="Nome do Requerente">
                        </div>
                        <div class="row form-line">
                            <label class="col-4" for="proprietario">Proprietário:</label>
                            <input type="text" class="col-7" id="proprietario" ng-model="formCtrl.userData.proprietario" placeholder="Nome do Proprietário">
                        </div>
                        <div class="row form-line">
                            <label class="col-4" for="nif">NIF:</label>
                            <input type="number" name="uNif" class="col-7" id="nif" ng-minlength="9" ng-maxlength="9" ng-model="formCtrl.userData.nif"
                                placeholder="Nro Identificação Fiscal">
                        </div>
                        <div class="row form-line">
                            <label class="col-4" for="freguesia">Freguesia:</label>
                            <input type="text" class="col-7" id="freguesia" ng-model="formCtrl.userData.freguesia" placeholder="Nome da Freguesia">
                        </div>
                        <div class="row form-line">
                            <label class="col-4" for="local">Local:</label>
                            <input type="text" class="col-7" id="local" ng-model="formCtrl.userData.local" placeholder="Nome do Local">
                        </div>
                        <div ng-show="form.uNif.$invalid" class="form-line form-error">NIF necessita de 9 algarismos.</div>
                        <hr style="margin: 0.5em">
                        <div class="nav-buttons clearfix">
                            <button type="button" ng-click="pagesCtrl.active = pagesCtrl.active - 1" class="btn btn-secondary ">Anterior</button>
                            <button ng-click="pagesCtrl.nextPage(form.$valid)" class="btn btn-secondary ">Seguinte</button>
                        </div>
                    </form>
                </section>
                <section ng-show="pagesCtrl.activeTab(3)" ng-controller="LayoutSelectionController as layoutCtrl">
                    <h6>Plantas para impressão disponíveis:</h6>
                    <hr style="margin: 0.5em;">
                    <form name="form" class="my-form" novalidate>
                        <div class="checkbox" ng-repeat="layout in layoutCtrl.layouts">
                            <label style="display: block">
                                <input type="checkbox" ng-model="layout.selected" ng-change="layoutCtrl.change()" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <div class="checkbox-title">{{layout.name}}</div>
                                <div class="checkbox-info">(Escala 1:{{layout.escala}} - Tamanho {{layout.tamanho}})</div>
                            </label>
                        </div>
                    </form>
                    <hr style="margin: 0.5em;">
                    <div class="nav-buttons clearfix">
                        <button type="button" ng-click="pagesCtrl.active = pagesCtrl.active - 1" class="btn btn-secondary ">Anterior</button>
                        <button ng-disabled="layoutCtrl.noSelect" ng-click="layoutCtrl.printLayouts();pagesCtrl.nextPage(true)" class="btn btn-secondary ">Seguinte</button>
                    </div>
                </section>
                <section ng-show="pagesCtrl.activeTab(4)" ng-controller="PrintResultController as prCtrl">
                    <h6>Resultados de Impressão</h6>
                    <div ng-show="prCtrl.printResults.length == 0">
                        <hr style="margin: 0.5em;">
                        <div class="info">{{prCtrl.message1}}</div>
                        <div class="info">{{prCtrl.message2}}</div>
                    </div>
                    <hr style="margin: 0.5em;">
                    <div ng-show="prCtrl.printResults.length > 0">
                        <div class="draw-info">A(s) Planta(s) requesitada(s) estão disponíveis para download nos links abaixo.</div>
                        <ul>
                            <li style="padding: 0.2em;" ng-repeat="printResult in prCtrl.printResults">
                                <a class="print" ng-href="{{printResult.url}}">{{printResult.title}}</a>
                            </li>
                        </ul>
                    </div>
                    <hr style="margin: 0.5em;">
                </section>
            </div>
        </div>
    </div>
</div>